.header{
    background-color: #34495e;
    color: #fff;
    padding: 20px 0;
    
}
.heading-content{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-area{
    background-color: #ecf0f1;
    padding: 40px 0 !important;
}